<footer class="article-footer clearfix">
{% include _partial/post/catetags.html %}
{% if index == false %}
	<div class="article-share" id="share">
	{% if site.jiathis.enable %}
	<div class="share-jiathis">
	{% include _partial/post/jiathis.html %}
	 </div>
	{% elsif site.share_to %}
	  <div data-url="{{ site.url }}{{ site.baseurl }}{{ item.url }}" data-title="{% if item.title %}{{ item.title }} | {% endif %}{{ site.title }}" data-tsina="{{ site.author.tsina }}" class="share clearfix">
	  </div>
	{% endif %}
	</div>
{% endif %}
{% if index %}
<div class="comments-count">
	{% if site.duoshuo_shortname %}
			<span></span>
		<a href="{{ site.baseurl }}{{ item.url }}#comments" class="ds-thread-count comments-count-link" data-thread-key="{{ item.id }}" data-count-type="comments">&nbsp;</a>
	{% elsif site.disqus_shortname %}
	  	<span></span>
		<a href="{{ site.baseurl }}{{ item.url }}#disqus_thread" class="comments-count-link">Comments</a>
	{% elsif site.hypercomments_id %}
	  	<span></span>
		<a href="{{ site.baseurl }}{{ item.url }}#hypercomments_widget" class="comments-count-link">Comments</a>
	{% elsif site.yungentie_productkey %}
	<!-- DOM元素 -->
	<!-- 根据站点情况，配置data-url或data-sourceId中的一个即可 -->
			<span></span>
		<a href="{{ site.baseurl }}{{ item.url }}#cloud-tie-wrapper" class="comments-count-link">
			<span lang="join-count" class="join-count" data-url="" data-sourceId="{{ item.id }}">&nbsp;</span>
		</a>
	{% endif %}
</div>
{% endif %}
</footer>
